.login-button:hover {
    background-color: blue;
    border-color: blue;
}
.login-button{
    transition: all 0.5s ease;
}
.loading-spinner {
    border: 2px solid #333;
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-color: #F22E2E3D;
    border-color: #8E0E0E !important;
    background-image: none !important;
}

.invalid-feedback {
    color: #8E0E0E;
}

.form-control:valid {
    background-image: none !important;
}

.plcname.error::placeholder {
    color: #8E0E0E;
}


.form-check-input:checked {
    background-color: red !important;
    border-color: red !important;
}