.carousel-indicators .active {
    background-color: red !important; 
}
.carousel-indicators{
    color: white !important;
}

.hoverbtn:hover {
    background-color: blue; 
    transition: all 0.5s ease;
    border-color: blue;
}

.hoverbtn2:hover {
    background-color: red; 
    transition: all 0.5s ease;
    border-color: red;
    color: white !important;
}

/* <!------------------------------- section2 ----------------------------------------> */

.rounded-shape1 {
    border-radius: 0 25% 0 25%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.rounded-shape2 {
    border-radius: 25% 0 25% 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.image-container {
    height: 250px;
    overflow: hidden;
}
/* <!------------------------------- section4 ----------------------------------------> */

.bg-img{
    background: url('../img/Box.png');
    background-size: cover;
    background-position: center;
}


/* <!------------------------------- section6 ----------------------------------------> */

.product-slider-wrapper1 {
    transition: transform 0.5s ease-in-out;
}

.product-card1 {
    flex: 0 0 33.33%;
}

.nav-arrow1,
.nav-arrow2,
.nav-arrow3 {
    width: 27.21px;
    height: 42.01px;
}
.testimonial-card{
    box-shadow: 4px 4px 25px 0px #0000001A;
}